extends _layout.pug

mixin formField(fieldClass, fieldName)
  +e.field.js-field
    +e.input(class=fieldClass)
      input(type="text" name=fieldName data-type=fieldClass placeholder=data("form.field." + fieldClass + ".placeholder"))/

block content
  +b.FORM.b-card-form.js-form(action="" method="GET")
    +e.title=data('form.title')
    +e.descr=data('form.descr')
    +e.field-list
      +formField('cardnumber', 'cardnumber')

      +e.field-group
        +formField('expdate', 'expdate')
        +formField('cvc', 'cvc')

      +formField('cardholder', 'cardholder')
      +formField('email', 'email')
      +formField('phone', 'phone')
      +formField('city', 'city')

    +e.btn
      input.e-btn(type="submit" value=data("form.btn.submit.val"))/
