extends _layout.pug

mixin formField(fieldClass, fieldName, fieldType = 'text')
  +e.field.js-field
    +e.input(class=fieldClass)
      input(reqiured type=fieldType name=fieldName data-type=fieldClass placeholder=data("form.field." + fieldClass + ".placeholder"))&attributes(attributes)/

block content
  +b.FORM.b-card-form.js-form(action="" method="GET" novalidate)
    +e.title=data('form.title')
    +e.descr=data('form.descr')
    +e.field-list
      +formField('cardnumber', 'cardnumber', 'tel')(autocomplete="cc-number")

      +e.field-group
        +formField('expdate', 'expdate', 'tel')(autocomplete="cc-exp")
        +formField('cvv2', 'cvv2', 'tel')(autocomplete="cc-csc")

      +formField('cardholder', 'cardholdername')(autocomplete="cc-name cardholder")

      +formField('zip', 'zip')(autocomplete="postal-code")
      +formField('country', 'country')(autocomplete="country-name")
      +formField('city', 'city')(autocomplete="locality")
      +formField('address', 'address')(autocomplete="street-address")

      +formField('email', 'email')(autocomplete="email")
      +formField('phone', 'phone', 'tel')(autocomplete="tel")

    +e.btn
      input.e-btn(type="submit" value=data("form.btn.submit.val"))/
